@charset "UTF-8";

@media screen and (min-width:768px) {

    html,
    body {
        background-image: url('../imagens/fundo.jpg');
        background-size: cover;
    }

    main {
        width: 700px;
        height: 280px;
        display: block;
    }

    div#imagem {
        width: 48%;
        height: 100%;
        border-radius: 10px 0 0 10px;
        display: inline-block;
    }

    div#form {
        width: 48%;
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 0;

    }

    input.caixa {
        width: 250px;
    }

}

@media screen and (min-width:1023px) {

    html,
    body {
        background-image: url('../imagens/fundo.jpg');
        background-size: cover;
    }

    main {
        width: 749px;
        height: 300px;
        display: block;
    }


    div#imagem {
        width: 48%;
        height: 100%;
        background-position: right center;
        border-radius: 0 10px 10px 0;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    div#form {
        width: 48%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 5%;

    }

}